*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 4200px;
}

.screen{
    background-image: url(../images/bckgrdIMG.jpg);
    height: 80vh;
    background-size: cover;
    
}
.screen_child{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar{
    height: 3rem;
    /* background-color: aqua; */
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
.nav-child{
    width: 85%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
}
.logo{
    width: 8rem;
}
.logo img{
    width: 100%;
}
.right-menu select{
    border: 1px solid gray;
    color: white;
    background-color: black;
    padding: 2px 5px;
    border-radius: 5px;
    height: 2.3rem;
    width: 6rem;
    margin-right: 1rem;
}
.right-menu button{
    color: white;
    background-color: rgba(221, 4, 4, 0.945);
    padding: 2px;
    border: none;
    border-radius: 4px;
    width: 5rem;
    height: 2.2rem;
}
.centerpiece{
    height: 47vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.text h1{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.text h2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
    
}
.text h3{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    
}
.email{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.email-box input{
    border: solid 1px gray;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
    height: 2.6rem;
    width: 17rem;
    border-radius: 4px;
    margin-right: 10px;
}
.start-button button{
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    height: 2.6rem;
    width: 8rem;
}
.hr{
    height: 0.5rem;
    background-color: rgb(35, 35, 35);
}


/* ----SCREEN 2-----  */
.screen2{
    height: 74vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.subscreen{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
}
.text1{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}
.text1-child h1{
    margin-bottom: 0.9rem;
    font-family:sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}
.text1-child h2{
    color: white;
    font-size: x-large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.tv{
    height: 100%;
    width: 50%;
}
.tv img{
    width: 84%;
    height: 84%;
    margin-top: 4rem;
    margin-left: 2rem;
    position: relative;
    z-index: 1;
}
.tv video{
    height: 70.3%;
    width: 61.2%;
    position: relative;
    top: -19.18rem;
    left: 6.15rem;
}


/* -------SCREEN3----- */
.screen3{
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.childscreen{
    width: 80%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}
.download{
    /* display: flex; */
    height: 6rem;
    width: 20rem;
    background-color: rgb(6, 2, 2);
    border-radius: 8px;
    border: solid gray 2px;
    position: relative;
    top: -8.5rem;
    right: -10rem;
}
.download img{
    padding: 0.68rem;
    width: 4.7rem;
    height: 6rem;
}
.content{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    /* background-color: chartreuse; */
    position: relative;
    top: -6rem;
    left: 4.4rem;
}
.contentext{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.contentext-child h5{
    color: white;
    font-weight: normal;
    font-size: large;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;

}
.contentext-child h6{
    color: rgb(56, 105, 190);
    font-size: small;
    font-weight: lighter;
    margin-left: 0.5rem;
}
.download video{
    height: 4rem;
    width: 3rem;
    position: relative;
    background-color: brown;
}

.icon img{
    position: relative;
    top: -11.3rem;
    left: 15.4rem;
    height: 4.3rem;
    width: 4.3rem;
}
.text2{
    width: 50%;
}
.text2 h1{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}
.text2 h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 1rem;
}


/* --------SCREEN4--------- */
.screen4{
    height: 74vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.screen4-child{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
}
.text3{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}
.text3-child h1{
    margin-bottom: 0.9rem;
    font-family:sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}
.text3-child h2{
    color: white;
    font-size: x-large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.mac{
    height: 100%;
    width: 50%;
}
.mac img{
    width: 84%;
    height: 84%;
    margin-top: 4rem;
    margin-left: 2rem;
    position: relative;
    z-index: 1;
}
.mac video{
    height: 70.7%;
    width: 51.6%;
    position: relative;
    top: -21.65rem;
    left: 7.99rem;
}


/* --------SCREEN5--------- */
.screen5{
    height: 74vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.screen5-child{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
}
.text4{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}
.text4-child h1{
    margin-bottom: 0.9rem;
    font-family:sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}
.text4-child h2{
    color: white;
    font-size: x-large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.children{
    height: 100%;
    width: 50%;
}
.children img{
    width: 84%;
    height: 84%;
    margin-top: 4rem;
    margin-left: 2rem;
    position: relative;
}


/* -----SCREEN6----- */
.screen6{
    width: 100%;
    height: 940px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.child6{
    width: 85%;
    height: 100%;
    /* background-color: aqua; */

}
.tag{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.Questions .que{
    height: 5.3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(47, 45, 45);
    margin: 0.7rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.que i{
    font-weight: lighter;
    font-size: larger;
}
.start{
    display: flex;
    justify-content: center;
}
.start h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
}
.email2{
    display: flex;
    justify-content: center;
}
.emailbox input{
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    background-color: rgba(30, 25, 25, 0.9);
    padding: 1rem;
    height: 3.3rem;
    width: 24rem;
}
.startbutton button{
    color: white;
    background-color: red;
    width: 12rem;
    height: 3.3rem;
    margin-left: 0.7rem;
    border-radius: 4px;
    border: none;
    font-size: larger;
    font-weight: lighter;
}


/* ----SCREEN7------ */
.screen7{
    background-color:black;
    height: 60vh;
}
.child7{
    width: 60%;
    height: 100%;
    /* background-color: brown; */
    margin-left: 11rem;
    padding-top: 2.3rem;
}
.headng h6{
    color: rgb(230, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}
.lines{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.options{
    color: rgb(230, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.lang select{
    border: solid 1px gray;
    border-radius: 5px;
    color: white;
    background-color: rgb(33, 30, 30);
    width: 8rem;
    height: 2.2rem;
    padding-left: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.credits h6{
    color: rgb(230, 222, 222);
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.6rem;
}